<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BidBlitz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>BidBlitz</h1>
        
        {% if session['user_id'] %}
            <div class="user-menu">
                <a href="{{ url_for('account', user_id=session['user_id']) }}">
                    <img src="{{ url_for('static', filename='img/profile.png') }}" alt="Profile Picture" class="profile-pic">
                </a>
                <a href="/logout" class="logout-button">Logout</a>
            </div>
        {% else %}
            <a href="/login" class="login-button">Login</a>
        {% endif %}
    </div>

    <!-- Main links section, separate from the navbar -->
    <div class="main-page-links">
        <a href="/home" class="menu-box">Home</a>
        <a href="/about" class="menu-box">About</a>
        <a href="/contact" class="menu-box">Contact</a>
        <a href="/auctions" class="menu-box">Auctions</a>
        <a href="/create" class="menu-box">Create</a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
